/*-----------------------------*/
/* BASIC SETUP */
/*-----------------------------*/

:root {
  --main-color: #e67e22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
  color: rgb(59, 59, 59);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*-----------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------*/

section {
  padding: 80px 0;
}

.sub-title {
  padding-bottom: 40px;
}

.box {
  padding: 0 1%;
}
.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

/* .text {
  text-align: center;
} */

/*-----------------------------*/
/* HEADINGS */
/*-----------------------------*/

h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin: 0px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 200%;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: var(--main-color);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*-----------------------------*/
/* PARAGRAFS */
/*-----------------------------*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin: 0 auto;
}

.box p {
  font-size: 90%;
  line-height: 155%;
}

/*-----------------------------*/
/* ICONS */
/*-----------------------------*/

.icon-big {
  display: block;
  color: var(--main-color);
  width: 50px;
  height: 50px;
  margin: 0 0 20px 0;
}

/*-----------------------------*/
/* IMAGES */
/*-----------------------------*/

li figure img {
  width: 25%;
  float: left;
}

/*-----------------------------*/
/* BUTTONS */
/*-----------------------------*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn:visited {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px 42px;
  color: white;
  margin: 0px 10px 0px 0px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid;
  color: var(--main-color);
}

.btn:hover,
.btn:active {
  background-color: #c05e09;
  border: 1px solid #c05e09;
  color: white;
}

/*-----------------------------*/
/* HEADER */
/*-----------------------------*/

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
}

.logo {
  height: 100px;
  width: auto;
  margin: 20px 0 0 15px;
  float: left;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 65px 0 0 40px;
  cursor: pointer;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 4px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--main-color);
}

.white-space {
  padding: 20px;
}
